.ldp_max_container {
    display: flex;
    justify-content: center;
}
.container-ldp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

/* Digit container styles */
.digit-container-ldp {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.all_digit_boxes {
    display: flex;
    gap: 10px;
}

.last_p {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Common styles for all digit boxes */
.digit-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #333;
}

/* Styles for even and odd digit boxes */
.even {
    background-color: #008000;
}

.odd {
    background-color: #ff0000;
}

/* Styles for rise and fall boxes */
.rise-ldp {
    background-color: #0000ff;
}

.fall-ldp {
    background-color: #ffa500;
}

/* Button metric styles */
.metrics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 12px;
}

.metric {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.metric.even {
    background-color: #008000;
}

.metric.odd {
    background-color: #ff0000;
}

.metric:hover {
    opacity: 0.9;
}

/* Sequence container styles */
.sequences {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sequence {
    text-align: center;
}

.sequence h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sequence-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.container-ldp .digit-container-ldp .last_p label {
    font-size: 14px;
    font-weight: bold;
}
.container-ldp .digit-container-ldp .custom_prediction {
    height: 30px !important;
    width: 70px !important;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
}
.container-ldp .oneclick_amout {
    display: flex;
    align-items: center;
    gap: 4px;
}

.container-ldp .oneclick_amout input {
    width: 70px;
    padding: 6px 0px;
    text-align: center;
    border-radius: 2px;
}
/* Responsive styles */
@media (max-width: 768px) {
    .ldp_max_container {
        width: 90%;
        align-items: center;
        margin: auto;
        margin-bottom: 80%;
    }

    .container-ldp {
        width: 100%;
    }

    .digit-container-ldp {
        width: 100%;
    }

    .all_digit_boxes {
        width: 100%;
    }

    .digit-box {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .metric {
        padding: 8px 15px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .ldp_max_container {
        width: 90%;
        align-items: center;
        margin: auto;
        margin-bottom: 80%;
    }

    .container-ldp {
        width: 100%;
    }

    .digit-container-ldp {
        width: 100%;
    }

    .all_digit_boxes {
        width: 100%;
    }

    .digit-box {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .metric {
        padding: 6px 12px;
        font-size: 10px;
    }

    .metrics {
        gap: 5px;
    }
}

.digit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.digit-item {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    margin: 5px;
}

.digit-item.selected {
    background-color: #007bff;
}

.digit-item:hover {
    transform: scale(1.1);
}

.digit-item h3 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    z-index: 1;
    font-weight: 500;
    margin: 0;
}

.digit-item h4 {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 0.9rem;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: 500;
    color: #fff;
}

.digit-item:after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #222;
}

/* Media Query for small screens (mobile) */
@media (max-width: 768px) {
    .digit-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .digit-item {
        flex: 1 1 calc(20% - 10px); /* Flex to take 1/5th of the row (20%) minus margin */
        max-width: 55px;
        height: 55px;
        margin: 5px;
    }
    .digit-item h3 {
        font-size: 1rem;
    }
    .digit-item h4 {
        font-size: 0.8rem;
    }
}

/* Media Query for laptop screens */
@media (min-width: 769px) and (max-width: 1200px) {
    .digit-item {
        width: 55px;
        height: 55px;
    }
    .digit-item h3 {
        font-size: 1.1rem;
    }
    .digit-item h4 {
        font-size: 0.85rem;
    }
}

.digit-item.selected:after {
    background-color: #fd9903; /* Purple background for the selected digit */
}

